<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
	<httpModules>
		<add name="JET.AjaxLibrary.HttpModule" type="JET.AjaxLibrary"/>
	</httpModules>
	<httpHandlers>
		<remove path="*.cs" verb="GET"/>
		<add path="*.cs" type="JET.AjaxLibrary.HttpUserDefHandle" verb="*"/>
	</httpHandlers>
	
    </system.web>
	<!--兼容IIS6.0以上-->
	<system.webServer>
		<!--If you manually disable the migration error message, you must make sure that your application works properly in Integrated mode, because the server will no longer provide any warnings about the unsupported configuration.-->
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="JET.AjaxLibrary.HttpModule" type="JET.AjaxLibrary.HttpModule"/>
		</modules>
		<handlers>
			<add type="JET.AjaxLibrary.HttpUserDefHandle,JET.AjaxLibrary" name="HttpUserDefHandle" path="*.cs" verb="*"/>
		</handlers>
	<security>
		<requestFiltering>
			<fileExtensions>
				<remove fileExtension=".cs"/>
				<add allowed="true" fileExtension=".cs"/>
			</fileExtensions>
		</requestFiltering>
	</security>
	</system.webServer>

</configuration>
