<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
	<!--<httpModules>
		<add name="JET.AjaxLibrary.HttpModule" type="JET.AjaxLibrary"/>
	</httpModules>
	<httpHandlers>
		<add path="*.cs" type="JET.AjaxLibrary.HttpUserDefHandle" verb="Get"/>
	</httpHandlers>-->
	
    </system.web>
	<!--兼容IIS6.0以上-->
	<system.webServer>
		<modules>
			<add name="JET.AjaxLibrary.HttpModule" type="JET.AjaxLibrary.HttpModule"/>
		</modules>
		<handlers>
			
			<add name="JET.AjaxLibrary.HttpUserDefHandle" path="*.cs" verb="GET"/>
		</handlers>
	<security>
		<requestFiltering>
			<fileExtensions>
				<add allowed="true" fileExtension=".cs"/>
			</fileExtensions>
		</requestFiltering>
	</security>
	</system.webServer>

</configuration>
